body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;

}

video {
  width:90vw;
  height: 60vw;
  border-radius: 12px;
  object-fit: contain;
}